# dist file for ActionMappers

git /extensions/ActionMappers          https://github.com/OpenEngineDK/extensions-ActionMappers.git
git-dev /extensions/ActionMappers          git@github.com:OpenEngineDK/extensions-ActionMappers.git

